header.header
    .header__column
    a(href=routers.home)
        i.fab.fa-youtube
    .header__column
        ul
            li
                a(href=routers.join) Join
            li
                a(href=routers.login) Log In