.social-login
    button.social-login--github
        a(href=routers.github)
            span
                i.fab.fa-github
            |Continue with Github
    button.social-login--facebook
        a(href=routers.facebook)
            span
                i.fab.fa-facebook
            |Continue with FaceBook
    button.social-login--kakao
        a(href=routers.kakao)
            span
                i.fas.fa-comment
            |Continue with Kakao
    button.social-login--naver
        a(href=routers.naver)
            span 
                i N
            |Continue with Naver